<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="AdventureWorks2008ConnectionString" connectionString="Data Source=DS-D02788817CBC\SQLSERVER2012;Initial Catalog=AdventureWorks2008;Persist Security Info=True;User ID=sa;Password=Elsevier1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
