<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
   <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myduplex">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
     <!--Remember service name is always name of the implelementation--> 
      <service name="PaymentService" behaviorConfiguration="myduplex">
        <host>
          <baseAddresses>
            <add baseAddress = "http//localhost:54084/PaymentService/" />
          </baseAddresses>
        </host>
        <endpoint name="PaymentDuplexEndPoint" contract="IPaymentService" binding="wsDualHttpBinding"/>


        <endpoint name ="MetaDataTcpEndpoint"
                    address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange"/>
      </service>
    </services>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
