<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wss" transactionFlow="true"></binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>          
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    <services>
      <service name="DataAccess.TransactionService" behaviorConfiguration="mexBehaviour">
        <endpoint address="DataAccess.ITransactionService"  binding="wsHttpBinding" contract="DataAccess.ITransactionService">
          </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" ></endpoint>
       
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:8080/"/>
            
          </baseAddresses>
        </host>
      </service>
      
      
      
    </services>
  </system.serviceModel>
</configuration>